.page-bg {
  background-color: #fff6f6;
  min-height: 100vh;
  padding: 20px 0 0 0; 
}
.cart-container {
  margin: 50px 0;
   background-color: #fff6f6;
}

.cart-container h2 {
  font-weight: 700;
  color: #928f8f;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.8rem;
}

.table {
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(214, 213, 213, 0.08);
}

.table thead {
  background-color: #e0f0ff; 
  color: #0056b3; 
  font-weight: 600;
  text-transform: uppercase;
}

.table tbody tr {
  transition: background-color 0.3s;
}

.table tbody tr:hover {
  background-color: #f2f9ff; 
}

.cart-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.btn-outline-secondary {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #007bff50;
  color: #007bff;
  background-color: #fff;
  transition: 0.3s;
}

.btn-outline-secondary:hover {
  background-color: #007bff20;
  color: #007bff;
  border-color: #007bff70;
}

.btn-danger {
  border-radius: 12px;
  background-color: #f85a5a80;
  border: none;
  color: #220b0b;
  transition: 0.3s;
}

.btn-danger:hover {
  background-color: #f85a5a80;
  color: #fff;
}

.text-end h4 {
  font-weight: 700;
  margin-bottom: 15px;
  color: #131212;
}

.btn-success {
  border-radius: 50px;
  padding: 12px 25px;
  background-color: #285a32; 
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.btn-success:hover {
  background-color: #16331c; 
}

@media (max-width: 768px) {
  .cart-image {
    width: 60px;
    height: 60px;
  }

  .btn-outline-secondary {
    width: 28px;
    height: 28px;
  }
}
