/* Header me ngjyrë të lehtë roze */
.custom-header {
  background-color: #091d3c; /* roze e lehtë */
}
.custom-header {
  background-color:#091d3c/* blu e mbyllët, pak gri */
}

.custom-header .nav-link,
.custom-header .navbar-brand {
  color: #ffffff !important; /* tekst i bardhë për kontrast */
}

.custom-header .nav-link:hover {
  color: #a9d6e5 !important; /* blu më e çelët për hover */
}

.custom-header .btn-outline-light {
  border-color: #a9d6e5;
  color: #ffffff;
}

.custom-header .btn-outline-light:hover {
  background-color: rgb(50, 60, 58); /* pak më i errët kur hover */
  border-color: rgb(50, 60, 58);
}

