.hero {
  background: #fff6f6;
  color: black;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.section-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}

.category-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  transition: 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-5px);
}

.product-card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

