.product-image-wrapper {
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.589);
  overflow: hidden;
  border-radius: 10px;
}

.product-detail-content {
  margin-top: 40px; 
}

.product-image-wrapper img {
  max-width: 100%;
  object-fit: cover;
}

.btn-primary {
  border-radius: 50px;
  padding: 10px 25px;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0057b3;
}

.nav-tabs .nav-link {
  color: #007bff;
}

.nav-tabs .nav-link.active {
  font-weight: bold;
  border-bottom: 3px solid #007bff;
}

.thumbnail-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 0.3s;
}

.thumbnail-image:hover {
  transform: scale(1.1);
  border-color: #007bff;
}
