.main-content {
  transition: margin-left 0.3s;
}

.with-sidebar {
  margin-left: 250px;
}
.admin-sidebar {
  position: absolute;
  left: 0;
  width: 250px;
  height: calc(100vh - 60px);
  background-color: #091d3c ;
  color: white;
  padding: 20px;
  z-index: 1000;
}
.sidebar-title {
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  margin-bottom: 10px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #cbd5e1;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.sidebar-link:hover {
  background-color: #334155;
  color: white;
}

.sidebar-link.active {
  background-color: #4f46e5;
  color: white;
}
